<h2>About</h2>

<div>
  <img src="/assets/wdots_group_shot.jpeg">
  <p>We are the only web developer meetup in Buckinghamshire</p>
  <p>We meet once a month at the Bull Hotel, Gerrards Cross.
    Find us in the Jack Shrimpton bar, close to the roaring fire.
    Come and join us and sample the local brew from the heart of the Shire.
  </p>
  <p>
    We representing a wide cross section of the web development community in the Shire:
  </p>
  <ul>
    <li>Front end</li>
    <li>Back end</li>
    <li>Design</li>
    <li>Agile / Waterfall</li>
    <li>QA</li>
    <li>Operations</li>
  </ul>
</div>
