<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Web Devs of The Shire</title>
  <meta name="WDOTS" content="Web Devs of The Shire">
  <meta name="WDOTS" content="SitePoint">

  <link rel="stylesheet" href="__">
</head>

<body>
    
<div class="headerWrapper">
    <header>
        <img src"#" alt="WDOTS Logo" class="logo"> 
    
        <ul class="headerNav">
            <li>About</li>
            <li>Events</li>
            <li>Members</li>
                </ul>  
                    </header>
                        </div>
    
    <article>
        <div class="eventContainer"
             <p>Next event</p>
                <p>date</p>
                    <p>time</p>        
            </div>
    </article>
    
    <footer>
        <div class="footerContainer">
            <div class="footerColumn">
            <p>Location</p>
                <p>Address</p>
            </div>  
            
            <div class="foterContainer">
            <div class="footerColumn">
            <p>Find on</p>
                <ul class="socialLinks">
                    <li>Meetup</li>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Youtube</li>
                </ul>
                </div>
            </div>

        
        
        
        
        </div>
        </footer>
    
</body>
</html>
