<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Web Devs of The Shire</title>
  <meta name="WDOTS" content="Web Devs of The Shire">
  <meta name="WDOTS" content="SitePoint">

  <link rel="stylesheet" href="footer.scss">
</head>

<body>
    
<div class="headerWrapper">
    <header>
        <img src"#" alt="WDOTS Logo" class="logo"> 
    
        <ul class="headerNav">
            <li>About</li>
            <li>Events</li>
            <li>Members</li>
                </ul>  
                    </header>
                        </div>
    
    <article>
        <div class="eventContainer"
             <p>Next event</p>
                <p>date</p>
                    <p>time</p>        
            </div>
    </article>
    
  <footer>
        
        <div class="footerContainer">
            
            <img class="WDOTSFooterLogo" src="wdots_circle.jpg" alt="WDOTS Circle Logo">

            <div class="footerLocation footerColumn footerText">
                <h3>Location</h3>
                <p>The Bull Hotel
                    <br> Oxford Rd
                    <br> Gerrards Cross
                    <br> Buckinghamshire
                    <br> SL9 7PA</p>
            </div>

            <div class="footerColumn">
                <div class="footerColumn">
                    <h3 class="footerText">Find on</h3>
                    <ul class="socialLinks footerText">
                        <li>Meetup</li>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>

        
        
        
        
        
</body>
</html>
