<!doctype html>
<html lang="en">
<head>
  <title>Web Devs of the Shire :: WDOTS</title>
  <link rel="stylesheet" href="/build/css/main.css">
  {{#cssPath}}
  <link rel="stylesheet" href="{{cssPath}}">
  {{/cssPath}}
</head>
<body>

<div class="wrapper">
  <header>
    <div class="container header-container">
      <h1>.webdevs<span class="logo_white">.oftheshire</span> {}</h1>
      <ul class="header-nav">
        <li><a href="/about">About</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/past">Past Events</a></li>
      </ul>
    </div>
  </header>
  {{{content}}
  <div class="push"></div>
</div>

<footer id="footer">
  <div class="footerContainer">

    <div class="imageContainer footerColumn">
      <img class="WDOTSFooterLogo" src="/assets/wdots_circle.jpg" alt="WDOTS Circle Logo">
    </div>

    <div class="footerLocation footerColumn">
      <h3 class="footerHeading">Location</h3>
      <div class="footerText">
        <p>The Bull Hotel
          <br> Oxford Rd
          <br> Gerrards Cross
          <br> Buckinghamshire
          <br> SL9 7PA</p>
      </div>
    </div>

    <div class="footerColumn footerLinks">
      <h3 class="footerHeading">Find on</h3>
      <ul class="socialLinks footerText">
        <li>Meetup</li>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Youtube</li>
      </ul>
    </div>

    <div class="footerColumn footerDots">
      <img src="/assets/wdots_dots.jpg">
    </div>

  </div>
</footer>

</body>
</html>
