<div class="container members">
  <div class="row">
    <div class="one-quarter column">
      <ul>
        <li>
          <div>
            <h2>@siadcock</h2>
            <img src="https://avatars3.githubusercontent.com/u/5931528?v=3&s=400">
          </div>
        </li>
        <li>
          <div>
            <h2>@carlosmela</h2>
            <img src="https://avatars2.githubusercontent.com/u/6771515?v=3&s=460">
          </div>
        </li>
        <li>
          <div>
            <h2>@samjadeallen</h2>
            <img src="https://avatars3.githubusercontent.com/u/16231691?v=3&s=460">
          </div>
        </li>
        <li>
            <div>
            <h2>@jimmynames</h2>
            <img src="https://avatars1.githubusercontent.com/u/13485129?v=3&s=460">
          </div>
        </li>
        <li>
            <div>
            <h2>@jameskmonger</h2>
            <img src="https://avatars2.githubusercontent.com/u/2037007?v=3&s=400">
          </div>
        </li>
        <li>
            <div>
            <h2>@lehanism</h2>
            <img src="https://avatars0.githubusercontent.com/u/10758584?v=3&s=460">
          </div>
        </li>
      </ul>
    </div>
    <div class="three-quarter column">
      <h3>Meet us! Click on our faces to get to know the members of webdevs</h3>
    </div>
  </div>
</div>
